#tableContainer {
  border: 1px solid red;
  padding: 2rem;
}

#calendarTable {
  border: 1px solid black;
  width: 100%;
}

table th,
table td {
  border: 1px solid black;
}

.dates {
  width: 4.5rem;
}

.beds {
  padding: 0.5rem;
}
