#tableContainer {
  border: 1px solid red;
  padding: 2rem;
}

#calendarTable {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

table th,
table td {
  border: 1px solid var(--border-color);
}
