.footer {
  position: relative;
  padding: 1rem 2rem;
  background-color: var(--second-background);
  margin-top: 2rem;
}

.footer > h3 {
  font-size: var(--font-size-h3);
  text-align: center;
  margin-bottom: 0.5rem;
}

.footer > p {
  text-align: center;
  font-size: var(--font-size-small);
  color: var(--text-color-light-2);
}

.mainContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  border-bottom: 1px solid var(--border-color);
}

.container {
  padding: 0 3rem;
}

.container h4 {
  font-family: var(--font-bold);
}

.container ul {
  list-style: none;
  padding: 0.5rem 0;
  font-size: var(--font-size-small);
}

.subContent {
  padding: 1rem 0;
}

.subContent p {
  font-size: small;
}
