.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 900px;
  margin: 0 auto;
  padding: 3rem 1rem;
}

.mainContent h1 {
  font-size: var(--font-size-h3);
}

.mainContent p {
  font-size: var(--font-size-small);
}
