.mainForm {
  max-width: 32rem;
  margin: 0;
  padding: 1rem;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hidden {
  display: none;
}

.mainForm fieldset {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  margin: 0;
  border-style: solid;
  border-color: #dedede;
}

.mainForm fieldset legend {
  padding: 0.1rem 0.5rem;
  font-family: var(--font-bold);
  color: #fff;
  background-color: var(--secondary-color-dark);
  font-size: var(--font-size-xs);
}

.mainForm label {
  font-size: var(--font-size-small);
  color: var(--text-color-dark);
}

.mainForm input {
  width: 100%;
  padding: 0.35rem 0.5rem;
  margin-top: 0.25rem;
  border-radius: var(--border-radius-large);
  border-color: var(--border-color);
  color: var(--text-color-light-2);
  font-size: var(--font-size-small);
}

.radioContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.3rem;
}

.mainForm input[type="radio"] {
  appearance: none;
  padding: 0;
  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;

  position: relative;
}

.mainForm input[type="radio"]:checked {
  border: 6px solid black;
  padding: 0;
}

.buttonContainer {
  display: flex;
  padding-top: 1rem;
  justify-content: space-around;
}

.buttonContainer button {
  padding: var(--padding-s) var(--padding-m);
  border-radius: var(--border-radius);
}

.resetBtn {
  background-color: #333;
}

.resetBtn:hover {
  background-color: #333;
  opacity: 0.9;
}

.submitBtn {
  background-color: var(--primary-color);
}

.submitBtn:hover {
  background-color: var(--primary-color);
  opacity: 0.9;
}

.mainForm select {
  width: 100%;
  margin-top: 0.25rem;
  padding: 0.25rem 0.5rem;
  appearance: none;
  color: black;
  border: 1px solid #caced1;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.mainForm textarea {
  background-color: #fff;
  color: black;
  width: 100%;
}

@media (max-width: 984px) {
  .mainForm {
    padding: 0;
  }
}
