.mainForm {
  max-width: 32rem;
  margin: 2rem auto;
  border-radius: var(--border-radius-large);
  padding: 1rem 2rem;
  box-shadow: var(--box-shadow-large);
  background-color: #fff;
}

.hidden {
  display: none;
}

.mainForm fieldset {
  position: relative;
  display: block;
  margin-bottom: 1rem;
}

.mainForm fieldset legend {
  border: 1px solid #333;
  padding: 0.1rem 0.5rem;
  font-family: var(--font-bold);
  color: #fff;
  background-color: var(--text-color-dark);
  font-size: var(--font-size-small);
}

.mainForm label {
  font-size: var(--font-size-small);
  color: var(--text-color-dark);
}

.mainForm input {
  width: 100%;
  padding: 0.35rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: var(--border-radius-large);
  border-color: var(--border-color);
  color: var(--text-color-light);
  font-size: var(--font-size-small);
}

.mainForm input[type="radio"] {
  appearance: none;
  padding: 0;
  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;

  position: relative;
}

.mainForm input[type="radio"]:checked {
  border: 6px solid black;
  padding: 0;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
}

.buttonContainer button {
  padding: var(--padding-s) var(--padding-m);
  border-radius: var(--border-radius);
}

.resetBtn {
  background-color: #333;
  opacity: 0.8;
}

.resetBtn:hover {
  background-color: #333;
  opacity: 1;
}

.submitBtn {
  background-color: var(--primary-color);
}

.submitBtn:hover {
  background-color: var(--primary-color-dark);
}
