.mainContainer {
  margin-top: 1rem;
  padding: 0 1rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  /*   display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, max-content)); */
}

.subContainer {
  position: relative;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  min-width: 250px;
  padding: 0.25rem;
}

.subContainer h4 {
  font-size: var(--font-size-small);
}

.editBtn {
  position: absolute;
  bottom: 0.25rem;
  right: 0.25rem;
  padding: 0.25rem 0.5rem;
}
