.mainContainer {
  padding: 2.5rem 1rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  /*   display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, max-content));  */
}

.mainContainer dialog {
  max-width: 900px;
  background-color: #fff;
  border: none;
  color: var(--text-color);
}

.mainContainer dialog::backdrop {
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.4);
}

.dialogHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0rem;
}

.dialogHeader h3 {
  font-family: var(--font-bold);
  font-size: var(--font-size-h3);
}

.dialogHeader button {
  background-color: none;
  background: none;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
}

.dialogHeader button:hover {
  background: none;
}

.dialogCloseIcon {
  stroke: var(--text-color-light);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.dialogCloseIcon:hover {
  stroke: var(--text-color);
}

.subContainer {
  position: relative;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  min-width: 250px;
  padding: 0.25rem;
  z-index: 0;
}

.subContainer h4 {
  font-size: var(--font-size-small);
}

.editBtn {
  position: absolute;
  bottom: 0.25rem;
  right: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--muted-color);
  background-color: none;
  background: none;
  color: var(--text-color-dark);
}

.editBtn:hover {
  background: var(--text-color-dark);
  color: var(--text-color-light);
}
