@import "modern_normalize.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  color: var(--text-color);
  background-color: var(--background-color);
}

/* Global link style */

a {
  color: var(--primary-color-dark);
  text-decoration: none;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

button:hover {
  background-color: var(--primary-color-dark);
}

h2 {
  font-size: var(--font-size-h2);
  font-family: var(--font-primary);
}

/* From default style */

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

input {
  border: 1px solid black;
  background: none;
  color: black;
}

input:focus {
  outline: 2px solid var(--active-color);
}

button {
  border: none;
  cursor: pointer;
}
