@import "modern_normalize.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  color: var(--text-color);
  background-color: #fff;
}

/* Global link style */

a {
  color: var(--primary-color-dark);
  text-decoration: none;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

button:hover {
  background-color: var(--primary-color-dark);
}

h2 {
  font-size: var(--font-size-h2);
  font-family: var(--font-primary);
}

/* From default style */

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

input {
  border: 1px solid black;
  background: inherit;
  color: black;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  -webkit-appearance: auto;
  appearance: auto;
  display: block;
  background-color: black;
}

input:focus {
  outline: 1.5px solid var(--active-color);
}

button {
  border: none;
  cursor: pointer;
}

menu {
  margin: 0;
  padding: 0;
}

/* Dialogs default styles*/

dialog {
  border: none;
  max-height: none;
}
.dialog {
  border-right: 5px solid var(--secondary-color);
  border-top-left-radius: 1rem;
  color: var(--text-color);
  position: fixed;
  margin: 0 0 0 auto;
  height: 100lvh;
  background-color: rgba(255, 255, 255);
  animation: fade-in 0.8s forwards;
}

@keyframes fade-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.dialog::backdrop {
  backdrop-filter: blur(0.1px);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Main content class */
.main-content {
  padding-bottom: 6rem;
}

/* dl default styles */

dl {
  font-size: var(--font-size-xs);
  padding: 0 0 1rem 0rem;
  margin-bottom: 1.5rem;
}

dl dt {
  font-family: var(--font-bold);
  margin: 0.25rem 0;
}
