.mainContainer h3 {
  font-size: x-large;
  font-weight: bolder;
}

.guestContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  padding: 1rem;
}

.guestInfoContainer,
.addressContainer,
.contactInfoContainer {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
}

.guestInfoContainer p {
  margin-top: 0.75rem;
}

.guestInfoContainer h4 {
  font-size: large;
  font-weight: bolder;
}

.contactInfoContainer dt,
.addressContainer dt {
  font-family: var(--font-bold);
  font-size: var(--font-size-small);
}

.contactInfoContainer dd,
.addressContainer dd {
  text-align: right;
  font-size: calc(var(--font-size-small) * 0.85);
  color: var(--text-color-dark);
  /* padding: 0rem 1rem 0.25rem 0; */
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--border-color);
}
