.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  background-color: var(--primary-color);
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.logo h3 {
  font-family: var(--font-title-main);
  font-size: 1.7rem;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: var(--margin-xxl);
}

.nav > a {
  margin: 0 var(--margin-l);
  color: #ffff;
  font-family: var(--font-primary);
  font-size: var(--font-size-small);
  font-weight: 500;
}

.nav > a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: var(--spacing-sm);
}

.nav > a:last-child {
  color: #ffff;
  text-decoration: none;
}

.btnPrimary {
  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
  padding: var(--padding-s) var(--padding-l);
  color: white;
}

.btnPrimary:hover {
  background-color: var(--secondary-color-dark);
}

@media (max-width: 984px) {
  .nav {
    display: none;
  }
}
