.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  background-color: #fff;
  z-index: 100;
}

.menu a span {
  color: var(--text-color);
}

.menu a.active svg {
  stroke: blue;
}

.menu a.active span {
  color: blue;
}

.menu a {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu a span {
  font-size: small;
}

@media (min-width: 984px) {
  .menu {
    display: none;
  }
}
