.messageDialog {
  background-color: #333;
  position: fixed;
  margin-right: 0;
  margin-top: 10lvh;
  max-width: 18rem;
  min-height: 4rem;
  background-color: #fff;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  animation: fade-in 0.8s forwards;
}

.messageDialog.success {
  border: 1px solid green;
  border-right: 5px solid green;
}

.messageDialog.error {
  border: 1px solid red;
  border-right: 5px solid red;
}

@keyframes fade-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX((0));
  }
}

.messageDialog p {
  color: var(--text-color);
}
