#mainMenu {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 13rem 0.5rem 13rem;
  font-size: var(--font-size-small);
  font-family: var(--font-primary);
  border-bottom: 1px solid var(--border-color);
}

.active {
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
}

#mainMenu a:hover {
  color: var(--text-color);
}
