.btn {
  background-color: none;
  background: none;
}

.btn:hover {
  background: none;
  background-color: none;
}

.svgImg {
  fill: none;
  stroke-width: 1;
  stroke: black;
  stroke-linecap: round;
  stroke-linejoin: round;
}
