.btn {
  background: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: none;
}

.btn svg {
  fill: none;
  stroke: var(--text-color-light);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.btn svg:hover {
  stroke: var(--text-color-dark);
}

.btnClose {
  background: none;
  z-index: 3;
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 1.1rem 0;
  left: 20rem;
  top: 0.5rem;
}

.btnClose:hover {
  background: none;
}

.btnClose:active {
  border: 2px solid black;
}

.btnClose svg {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
}

.blurContent {
  z-index: 999;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  backdrop-filter: contrast(20%);
  /*   transition: backdrop-filter 0.2s ease-in-out, opacity 0.3s ease-in-out; */
  pointer-events: none;
}

.showBlur {
  opacity: 1;
  pointer-events: auto;
}

.menu {
  position: fixed;
  z-index: 2;
  width: 85%;
  background-color: #fff;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -22rem;
  display: flex;
  flex-direction: column;
  padding: 2rem 0.5rem;
  transition: left 0.6s ease-in-out;
}

.titleContainer {
  width: 100%;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

.menu h1 {
  font-size: var(--font-size-h3);
  font-family: var(---font-title-main);
  margin-bottom: 1rem;
}

.menu a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.25rem;
  align-items: center;
  color: var(--text-color-light-2);
  width: 100%;
  padding-left: 1.5rem;
  height: 2.3rem;
}

.menu a:hover {
  color: var(--text-color-dark);
  background-color: #f3f3f3;
}

.menu a:hover svg {
  stroke: var(--text-color-dark);
}

.menu a:nth-child(6) {
  margin-bottom: 3rem;
}

.showMenu {
  left: 0;
}

@media (min-width: 985px) {
  .btn {
    display: none;
  }
  .blurContent {
    display: none;
  }
}
