.btn {
  background-color: none;
  background: none;
  border: 1px solid gray;
  border-radius: 5px;
}

.btn:hover {
  outline: 2px solid black;
  background: none;
}

.avatar {
  stroke: #000000;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.menuBar {
  position: relative;
  z-index: 1;
}

.profileMenu {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  padding: 0.75rem 0;
  position: absolute;
  right: 0;
  top: 100%;
  max-height: 0;
  transform: translateY(-25%);
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: 0.5s transform ease-in-out, 0.5s opacity ease-in-out;
  width: 10rem;
}

.profileMenu.open {
  display: flex;
  visibility: visible;
  max-height: 20rem;
  opacity: 1;
  transform: translateY(0);
}

.profileMenu a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-color-light-2);
  font-size: var(--font-size-small);
  width: 100%;
  padding: 0.25rem 0.75rem;
}

.profileMenu a svg {
  stroke: var(--text-color-light-2);
}

.profileMenu a:hover {
  color: var(--text-color);
  background-color: var(--second-background);
}
