.mainForm {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  max-width: 39vw;
  margin: 2rem auto;
  border-radius: var(--border-radius-large);
  padding: 1rem 2rem;
  box-shadow: var(--box-shadow-large);
  background-color: #fff;
}

.hidden {
  display: none;
}

.mainForm fieldset {
  position: relative;
  display: block;
  margin-bottom: 1rem;
}

.mainForm fieldset legend {
  border: 1px solid #333;
  padding: 0.1rem 0.5rem;
  font-family: var(--font-bold);
  color: #fff;
  background-color: var(--text-color-dark);
  font-size: var(--font-size-small);
}

.mainForm label {
  font-size: var(--font-size-small);
}

.mainForm input {
  width: 100%;
  padding: 0.35rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: var(--border-radius-large);
  border-color: var(--border-color);
  color: var(--text-color-light);
  font-size: var(--font-size-small);
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
}
