.mainContainer {
  padding: 1rem;
}

.editContainer {
  display: flex;
  justify-content: end;
  padding-bottom: 1rem;
}

.editContainer > button {
  padding: 0.5rem 1rem;
}

.dayContainer {
  padding-top: 1rem;
}

.dateSelectionContainer {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.roomsContainer {
  min-height: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
}

#isToday h3 {
  color: green;
  font-size: 1.25rem;
}

.roomTypeContainer {
  border: 1px solid #ccc;
  min-width: 230px;
  padding: 1rem;
}

.roomsContainer dd,
.roomsContainer dt {
  margin: 0;
}

.dlContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #333;
  padding: 0.5rem;
}
