.controlPanel {
  /* border: 1px solid var(--border-color); */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  grid-auto-rows: minmax(0.5rem, 3rem);
  padding: 1rem;
}

.controlPanel p {
  grid-column: 1 / 3;
  align-self: first baseline;
  text-align: center;
  color: var(--text-color-dark);
}

.btnLarge {
  grid-column: 1 / 3;
}

.btnLarge.disable {
  opacity: 0;
  pointer-events: none;
}

.btnCancel {
  background-color: var(--error-color);
}

.btnCancel:hover {
  background-color: darkred;
}

.btnPaid {
  background-color: green;
}

.btnPaid:hover {
  background-color: darkgreen;
}

.controlPanel button {
  border-radius: var(--border-radius);
}

.goBackLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.confirmationDialog {
  background-color: #fff;
  z-index: 9999;
  position: relative;
  max-width: 30rem;
  border: 1px solid var(--border-color);
}

.confirmationDialog p {
  font-size: var(--font-size-small);
  color: var(--info-color);
}

.confirmationDialog span {
  color: var(--text-color-light-2);
  font-size: x-small;
}
.confirmationDialog button {
  display: inline-block;
  margin: 10px;
}

.confirmationDialog::backdrop {
  backdrop-filter: blur(0.6px);
}

.confirmationDialog .btnContainer {
  display: flex;
  justify-content: end;
}

.confirmationDialog .confirmBtn {
  background-color: var(--info-color);
}

.confirmationDialog .confirmBtn:hover {
  background-color: var(--active-color);
}
