.mainContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: minmax(1rem, auto);
  gap: 1rem;
  padding: 1rem;
}

.goBackLink {
  display: flex;
  gap: 0.25rem;
}

/* Reservation Container & Control panel common properties*/

.reservationDetails,
.controlPanel {
  padding: 1rem 0.5rem;
  grid-row: 2;
}

/* Reservation Container */

.reservationDetails {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid var(--border-color);
}

.one h3 {
  font-size: var(--font-size-h3);
  margin-bottom: 0.5rem;
}

.one dt {
  font-size: var(--font-size-small);
  color: var(--text-color-light);
  margin: 0.5rem 0;
}

.one dd {
  display: flex;
  gap: 0.5rem;
  font-size: var(--font-size-small);
}

.two p {
  font-size: var(--font-size-large);
}

.two dl {
  padding-left: 0.5rem;
  padding-right: 5rem;
}

.two dt {
  font-family: var(--font-bold);
  font-size: var(--font-size-small);
}

.two dd {
  text-align: right;
  font-size: calc(var(--font-size-small) * 0.85);
  color: var(--text-color-dark);
  padding: 0rem 1rem 0.25rem 0;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--border-color);
}

/* Control panel */

.controlPanel {
  border: 1px solid var(--border-color);
}
