.reservationDetails {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 1rem;
}

.one .guestInfo {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.guestInfo h3 {
  font-size: var(--font-size-h3);
  margin: 0;
}

.guestInfo button {
  background: none;
  margin: 0;
}

.guestInfo button:hover {
  background: none;
  transform: scale(1.25);
}

.one dt {
  font-size: var(--font-size-small);
  color: var(--text-color-light);
  margin: 0.5rem 0;
}

.one dd {
  display: flex;
  gap: 0.5rem;
  font-size: var(--font-size-small);
}

.two p {
  font-size: var(--font-size-large);
}

/* .two dl {
  padding-left: 0.5rem;
  padding-right: 5rem;
} */

.two dt {
  font-family: var(--font-bold);
  font-size: var(--font-size-small);
}

.two dd {
  text-align: right;
  font-size: calc(var(--font-size-small) * 0.85);
  color: var(--text-color-dark);
  /* padding: 0rem 1rem 0.25rem 0; */
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--border-color);
}
