.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  max-width: 1326px;
  margin: 0 auto;
}

.mainContainer > button {
  align-self: flex-end;
}

.roomTypesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.roomsContainer {
  position: relative;
  min-width: 250px;
  padding: 1rem;
  border: 1px solid black;
}

.dlList dd {
  text-align: right;
}

.createRoomTypeBtn {
  width: 13rem;
  align-self: flex-end;
  padding: 1rem 1rem;
  background-color: var(--primary-color);
  border-radius: var(--border-radius-large);
}

.btnMenu {
  display: flex;
  justify-content: space-between;
}

.btnMenu > button {
  background-color: #fff;
  border: 1px solid var(--error-color);
  border-radius: 5px;
  color: var(--error-color);
  font-size: small;
}

.btnMenu > button:hover {
  background-color: var(--error-color);
  opacity: 0.6;
  color: #fff;
}

.editBtn {
  background: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.editBtn:hover {
  opacity: 0.5;
}

#dialog::backdrop {
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.4);
}

#dialog {
  background-color: #fff;
  border: none;
  color: var(--text-color);
}
