#form {
  box-shadow: none;
}

#form fieldset:first-child {
  padding: 1rem;
}

.flexContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 0.5rem;
}

.labelContainer > input {
  min-width: 4rem;
}

.labelContainer {
  width: 100%;
}
.infoIcon {
  stroke: var(--info-color);
}

.flexContainer fieldset {
  width: 100%;
}

.radioInputContainer {
  display: block;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.radioInputContainer input {
  float: right;
}

.tooltipContainer {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  width: 10rem;
  background-color: #ccc;
  color: #333;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #ccc transparent transparent transparent;
}

.tooltipContainer:hover .tooltip,
.tooltipContainer:focus-within .tooltip {
  visibility: visible;
  opacity: 1;
}
