.sidebarNav {
  min-width: 250px;
  padding: 1rem;
  height: 100lvh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  z-index: 40;
  position: fixed;
}

.sidebarNav button {
  background: none;
  align-self: flex-end;
}

.sidebarNav a {
  padding-top: 1rem;
  color: var(--muted-color);
}

.sidebarNav button svg {
  stroke: #000;
}
