.form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  /* margin: 0 auto; */
  max-width: 26rem;
  padding: var(--padding-m) var(--padding-l);
  border-radius: var(--border-radius-large);
  box-shadow: var(--box-shadow-large);
}

.form > label {
  font-size: var(--font-size-small);
  font-family: var(--primary-font);
  color: var(--text-color-dark);
  margin-bottom: var(--margin-s);
}

.form > input {
  margin-bottom: var(--margin-s);
  padding: var(--padding-s) var(--padding-m);
  border-color: var(--border-color);
  border-radius: var(--border-radius);
}

.submitBtn {
  background-color: var(--primary-color);
  padding: var(--padding-s) var(--padding-m);
  border-radius: var(--border-radius);
  margin-top: var(--margin-l);
  margin-bottom: 4rem;
}

.info {
  margin-bottom: var(--margin-s);
}

.extras {
  font-size: var(--font-size-small);
  margin-top: var(--margin-l);
  text-align: right;
}

p > small {
  font-family: var(--font-italic);
}

/* @media (max-width: 959px) {
  .form {
    width: 50vw;
  }
}

@media (max-width: 640px) {
  .form {
    width: 80vw;
  }
} */
