.form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 25rem;
  margin: 0 auto;
  padding: var(--padding-m) var(--padding-l);
  border-radius: var(--border-radius-large);
  box-shadow: var(--box-shadow-large);
}

.form > label {
  font-size: var(--font-size-small);
  font-family: var(--primary-font);
  color: var(--text-color);
  margin-bottom: var(--margin-s);
}

.form > input {
  margin-bottom: var(--margin-s);
  padding: var(--padding-s) var(--padding-m);
  border-color: var(--border-color);
  border-radius: var(--border-radius);
}

.form a {
  font-size: var(--font-size-small);
  color: var(--muted-color);
}

.form a:hover {
  text-decoration: underline;
}
.submitBtn {
  background-color: var(--secondary-color);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  margin-top: var(--margin-l);
  margin-bottom: 4rem;
}

.submitBtn:hover {
  background-color: var(--secondary-color-dark);
}

.info {
  margin: var(--margin-s) 0;
  color: var(--text-color-dark);
}

.extras {
  font-size: var(--font-size-small);
  margin-top: var(--margin-l);
  text-align: right;
}

p > small {
  font-family: var(--font-italic);
}

.error {
  font-size: var(--font-size-small);
  color: var(--error-color);
}

/* @media (max-width: 959px) {
  .form {
    width: 50vw;
  }
}

@media (max-width: 640px) {
  .form {
    width: 80vw;
  }
} */
