@font-face {
  font-family: Inter;
  src: url("../assets/fonts/inter/Inter_18pt-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Inter-Bold;
  src: url("../assets//fonts/inter/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Inter-Italic;
  src: url("../assets//fonts/inter/Inter_18pt-Italic.ttf") format("truetype");
  font-weight: lighter;
  font-style: italic;
}

:root {
  /* Primary Colors */
  --primary-color: #001219;
  --primary-color-light: #22ab24;
  --primary-color-dark: #1b4332;

  /* Secondary Colors */
  --secondary-color: #005f73;
  --secondary-color-dark: #014755;
  --secondary-color-light: rgb(40, 167, 69);

  /* text color */
  --text-color: #131721;
  --text-color-dark: rgb(51 51 51);
  --text-color-light: #dee2e6;
  --text-color-light-2: #7c7c7c;

  /* Neutral Colors */
  --background-color: rgb(255, 255, 255);
  --second-background: #edf2f4;

  --muted-color: rgb(127, 140, 141);

  /* Alert Colors */
  --error-color: #c1121f;
  --warning-color: rgb(243, 156, 18);
  --success-color: rgb(39, 174, 96);
  --info-color: rgb(52, 152, 219);
  --active-color: #023e8a;

  /* Font Family */
  --font-primary: "Inter", sans-serif;
  --font-italic: "Inter-Italic", sans-serif;
  --font-bold: "Inter-Bold", sans-serif;
  --font-size-xs: 0.75rem;
  --font-size-small: 0.875rem;
  --font-size-large: 1.25rem;
  --font-size-h1: 2rem;
  --font-size-h2: 1.75rem;
  --font-size-h3: 1.5rem;

  /* Font Weight */
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* Line Height */
  --line-height-heading: 1.2;

  /* Spacing */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;

  /* Padding */
  --padding-xs: 0.25rem;
  --padding-s: 0.5rem;
  --padding-m: 1rem;
  --padding-l: 1.5rem;

  /* Margin */
  --margin-s: 0.5rem;
  --margin-m: 1rem;
  --margin-l: 1.25rem;
  --margin-xxl: 2.5rem;

  /* Borders */
  --border-width: 1px;
  --border-style: solid;
  --border-radius: 0.25rem;
  --border-radius-large: 0.5rem;
  --border-color: #adb5bd;
  --border-color-dark: #495057;

  /* Box Shadow */
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --box-shadow-large: 0 4px 8px rgba(0, 0, 0, 0.15);

  /* Z-Index */
  --z-index-default: 1;
  --z-index-dropdown: 1000;
  --z-index-modal: 1100;
  --z-index-tooltip: 1050;

  /* Transition */
  --transition-fast: 0.2s ease-in-out;
  --transition-medium: 0.3s ease-in-out;
  --transition-slow: 0.5s ease-in-out;

  /* List color transition */
  --transition-list-elements: color 0.3s ease;
}
